env/*
dist/*
build/*
example/*
*.egg-info
__pycache__
example/rslt*
tmp*
*.egg*
*.so
*.o
*.pyc
benchmark_output/
prod_env/
models/*
run/old/*
run/.saved_tasks
run/parallel.yml
run/static_data/encodings/*
src/watermark_benchmark/perplexity/*